In [1]:
#Example DataFrame

import requests as rq
import pandas as pd
import csv

Data = rq.get("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data")

with open('iris.data','w') as f:
     f.write(Data.text)

with open('iris.data') as f:
    reader = csv.reader(f)
    iris_data = [x for x in reader]   
            
iris_DataFrame = pd.DataFrame(iris_data)
iris_DataFrame.columns = ['Sepal_Length', 'Sepal_Width', 'Petal_Length', 'Petal_Width', 'Class']
iris_DataFrame

    Sepal_Length Sepal_Width Petal_Length Petal_Width           Class
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica
150         None        None         None        None            None

[151 rows x 5 columns]

# Creating Reading and Writing

In [2]:
import pandas as pd

#Creating a DataFrame
Fruits = pd.DataFrame({'Apples':[30],'Bananas':[21]})
Fruits2 = pd.DataFrame({'Apples':[35 ,21], 'Bananas':[41, 34]}, index = ['2017 Sales', '2018 Sales']) 
#print(Fruits, Fruits2)

#Creating Series
ingredients = pd.Series(['4 cups', '1 cup', '2 large', '1 can'], index = ['Flour', 'Milk', 'Eggs', 'Spam'], name = 'Dinner')
#print(ingredients)

#Read a csv and sabve a DataFrame as one
#reviews = pd.read_csv("../input/wine-reviews/winemag-data_first150k.csv")
#reviews.head() #the firts 5
#reviews.tail() #the last 5
animals = pd.DataFrame({'Cows':[12, 20], 'Goats':[22, 19]}, index = ['Year 1', 'Year 2'])
cows_and_goats = animals.to_csv("cows_and_goats.csv")

# Indexing, Selecting and Assigning

In [26]:
iris_DataFrame.tail()
#iris_Serie = pd.Series("iris_data")
#iris_Serie.describe #describe the serie
#irie_Serie.points.describe() #describe the especified column
#type(iris_Serie)

iris_DataFrame.iloc[0,0] #The first value of Sepal_Length
iris_DataFrame.iloc[0] #The first row
iris_DataFrame.Sepal_Length.iloc[:10] #first 10 values form the column Sepal Length
iris_DataFrame.iloc[[1,2,3,5,8], :] #select the specified index rows

iris_DataFrame.loc[[0,1,10,100],['Sepal_Length','Petal_Width','Class']] #The index rows and only 3 selected columns
iris_DataFrame.loc[:99,['Sepal_Length','Sepal_Width']] #The first 100 rows of sepal_width and length

iris_DataFrame.loc[iris_DataFrame.Class == 'Iris-setosa'] #All iris setosa class
iris_DataFrame.loc[(iris_DataFrame.Sepal_Width >= str(3.8)) 
                   & (iris_DataFrame.Class.isin(['Iris-setosa','Iris-virginica']))] #the specified class with the specified sepal width

    Sepal_Length Sepal_Width Petal_Length Petal_Width           Class
5            5.4         3.9          1.7         0.4     Iris-setosa
14           5.8         4.0          1.2         0.2     Iris-setosa
15           5.7         4.4          1.5         0.4     Iris-setosa
16           5.4         3.9          1.3         0.4     Iris-setosa
18           5.7         3.8          1.7         0.3     Iris-setosa
19           5.1         3.8          1.5         0.3     Iris-setosa
32           5.2         4.1          1.5         0.1     Iris-setosa
33           5.5         4.2          1.4         0.2     Iris-setosa
44           5.1         3.8          1.9         0.4     Iris-setosa
46           5.1         3.8          1.6         0.2     Iris-setosa
117          7.7         3.8          6.7         2.2  Iris-virginica
131          7.9         3.8          6.4         2.0  Iris-virginica

# Summary Functions and Maps

In [27]:
import pandas as pd

median_Sepal_Width = iris_DataFrame.Sepal_Width.median() #The median in that column 
Classes = iris_DataFrame.Class.unique() #Shows all the values without repeating them 
times_Classes = iris_DataFrame.Class.value_counts() #couts the values in the column 

#the mean substradted
m = iris_DataFrame.Petal_Length.astype(float) #treats that column as float
mean_substracted = m - m.mean()
#mean_substracted = iris_DataFrame.Petal_Length.astype(float) - iris_DataFrame.Petal_Length.astype(float).mean()

#Highest Pl and Pw ratio
PL = iris_DataFrame.Petal_Length.astype(float)
PW = iris_DataFrame.Petal_Width.astype(float)

idx = (PL / PW).idxmax()
iris = iris_DataFrame.loc[idx, "Class"]

#Find some words in the DataFrame
c = iris_DataFrame.Class.astype(str)
setosas = c.map(lambda I: "Iris-setosa" in I).sum()
versicolor = c.map(lambda I: "Iris-versicolor" in I).sum()

pd.Series([setosas, versicolor], index=["Iris-setosa","Iris-versicolor"])

#A serie with good, bad or pass depending on the pethal_width

def sepal(length):

    if length >= 7:
        return "good"
    elif length >= 5:
        return "pass"
    else:
        return "bad"

sl = iris_DataFrame.Sepal_Length.astype(float)
sl2 = sl.apply(sepal)

def petal(length):

    if length >= 5:
        return "big"
    elif length >= 1.5:
        return "midle"
    else:
        return "small"

pl = iris_DataFrame.Petal_Length.astype(float)
pl2 = pl.apply(petal)

iris_DataFrame2 = iris_DataFrame
iris_DataFrame2["pl_size"] = pl2
iris_DataFrame2["sl_see"] = sl2
iris_DataFrame2

,Sepal_Length,Sepal_Width,Petal_Length,Petal_Width,Class,pl_size,sl_see
0,5.1,3.5,1.4,0.2,Iris-setosa,small,pass
1,4.9,3.0,1.4,0.2,Iris-setosa,small,bad
2,4.7,3.2,1.3,0.2,Iris-setosa,small,bad
3,4.6,3.1,1.5,0.2,Iris-setosa,midle,bad
4,5.0,3.6,1.4,0.2,Iris-setosa,small,pass
...,...,...,...,...,...,...,...
146,6.3,2.5,5.0,1.9,Iris-virginica,big,pass
147,6.5,3.0,5.2,2.0,Iris-virginica,big,pass
148,6.2,3.4,5.4,2.3,Iris-virginica,big,pass
149,5.9,3.0,5.1,1.8,Iris-virginica,big,pass
150,None,None,None,None,None,small,bad

# Grouping and Sorting

In [28]:
a = iris_DataFrame2.groupby('Class').Class.count() #group the idex in classes and then count all the classes 

b = iris_DataFrame2.groupby('Petal_Length').pl_size.max().sort_values() #take Petal length as index and sort the values of size

c = iris_DataFrame2.groupby('Class').Petal_Width.agg([min, max]) # take the classes and give me the min and max of petal width of each class
d = c.sort_values(by=['min','max'], ascending=False) #sorted the values, first the min and then the max in not ascending mode

iris_DataFrame2['Sepal_Length'] = pd.to_numeric(iris_DataFrame2['Sepal_Length'], downcast="float") #change the column to float
f = iris_DataFrame2.groupby('Class').Sepal_Length.mean() #index class and pun the mean of each sepal length 

g = iris_DataFrame2.groupby(['Petal_Length', 'Petal_Width']).Class.max() #multi index 
g.sort_index(ascending=False) #sort the indexes
g.reset_index() #reset the index and put again the numbers

h = iris_DataFrame.groupby(['Class','sl_see']).apply(lambda a: a.loc[0:,['Sepal_Length','Sepal_Width']]) #index Class and sl_see and put the the other values i wanted
h

                           Sepal_Length Sepal_Width
Class          sl_see
Iris-setosa    bad    1             4.9         3.0
                      2             4.7         3.2
                      3             4.6         3.1
                      6             4.6         3.4
                      8             4.4         2.9
...                                 ...         ...
Iris-virginica pass   145           6.7         3.0
                      146           6.3         2.5
                      147           6.5         3.0
                      148           6.2         3.4
                      149           5.9         3.0

[150 rows x 2 columns]

# Data Types and Missing Values

In [29]:
#float64 means that it's using a 64-bit floating point number; int64 means a similarly sized integer instead, and so on.
#columns consisting entirely of strings do not get their own type; they are instead given the object type.

a = iris_DataFrame.Sepal_Length.dtype #type of the column 

b = iris_DataFrame.Sepal_Length.astype('str') #treats Sepal_Length column as string

#Entries missing values are given the value NaN, short for "Not a Number". For technical reasons these NaN values 
#are always of the float64 dtype.

c = iris_DataFrame.Petal_Width.isnull().count() #counts all null elements in that column 
d = iris_DataFrame.Petal_Width.astype('float') 
e = iris_DataFrame.Petal_Width.fillna(d.mean()) #fill all nan values with the mean 

f = iris_DataFrame.Sepal_Width.fillna("Unknown").value_counts().sort_values() # fill all nsn values with a string and counts all the values, sorting them
g = f.replace("Unknown","No_Value") # Replace the value to the other you put

#Or we could fill each missing value with the first non-null value that appears sometime after the given record in the database. 
#This is known as the backfill strategy.

h = iris_DataFrame.Sepal_Width.fillna(method='ffill') # fill the na value with the previous value

# Renaming and Combining

In [34]:
iris_DataFrame3 = iris_DataFrame
iris_DataFrame3.rename(columns={'Sepal_Length':'Hola1','Sepal_Width':'Hola2'}) #Rename The columns

iris_DataFrame.rename(index={0:'Number_0',1:'Number_1'}) #Rename the index
iris_DataFrame.rename_axis('Numbers',axis='columns') # Put the name of the index column 

combined_iris_DataFrames = pd.concat([iris_DataFrame2, iris_DataFrame3]) # Combined both dataframes

one = iris_DataFrame.set_index('Class')
two = iris_DataFrame2.set_index('Class')
combined = one.join(two, lsuffix='1', rsuffix='2') #join both dataframes with a similar index
print(combined)

                Sepal_Length1 Sepal_Width1 Petal_Length1 Petal_Width1  \
Class
Iris-setosa               5.1          3.5           1.4          0.2
Iris-setosa               5.1          3.5           1.4          0.2
Iris-setosa               5.1          3.5           1.4          0.2
Iris-setosa               5.1          3.5           1.4          0.2
Iris-setosa               5.1          3.5           1.4          0.2
...                       ...          ...           ...          ...
Iris-virginica            5.9          3.0           5.1          1.8
Iris-virginica            5.9          3.0           5.1          1.8
Iris-virginica            5.9          3.0           5.1          1.8
Iris-virginica            5.9          3.0           5.1          1.8
NaN                       NaN         None          None         None

               pl_size1 sl_see1  Sepal_Length2 Sepal_Width2 Petal_Length2  \
Class
Iris-setosa       small    pass            5.1          3.5           1.4
Iris-setosa       small    pass            4.9          3.0           1.4
Iris-setosa       small    pass            4.7          3.2           1.3
Iris-setosa       small    pass            4.6          3.1           1.5
Iris-setosa       small    pass            5.0          3.6           1.4
...                 ...     ...            ...          ...           ...
Iris-virginica      big    pass            6.3          2.5           5.0
Iris-virginica      big    pass            6.5          3.0           5.2
Iris-virginica      big    pass            6.2          3.4           5.4
Iris-virginica      big    pass            5.9          3.0           5.1
NaN               small     bad            NaN         None          None

               Petal_Width2 pl_size2 sl_see2
Class
Iris-setosa             0.2    small    pass
Iris-setosa             0.2    small     bad
Iris-setosa             0.2    small     bad
Iris-setosa             0.2    midle     bad
Iris-setosa             0.2    small    pass
...                     ...      ...     ...
Iris-virginica          1.9      big    pass
Iris-virginica          2.0      big    pass
Iris-virginica          2.3      big    pass
Iris-virginica          1.8      big    pass
NaN                    None    small     bad

[7501 rows x 12 columns]

In [8]:
import numpy as np
from collections import Counter

text = "Hola vaque comes muchas palomitas, te las comes todas, todas completitas, comes, comes, comes muchaspalomitas  vaque, vaque"
k = 3

remove = ",;:.\n!\"'" #characters to remove
for i in remove:
    text = text.replace(i, "").lower() #replace all tyhat characters for empty

#b = [c.rstrip('.,?').lower() for c in a]
text = text.lower() # from uppercase to lowercase
words = text.split(" ") #an array with all the words

k_dictionary = {} #we create an empty dictionary 
k2_dictionary = {} #another way

for i in words:
    if i in k_dictionary: 
        k_dictionary[i] +=1 #if the word is more than 1 time, the counter oincreases
    else:
        k_dictionary[i] = 1 #if the word is only one time, the counter will be only 1
        
k2_dictionary = Counter(words)#another way

list=[]
for key, value in k_dictionary.items():
    if k <= value: #print the key if it has the k frecuency or upper
        list.append(key)

list

['vaque', 'comes']

In [9]:
k_dictionary

{'hola': 1,
 'vaque': 3,
 'comes': 5,
 'muchas': 1,
 'palomitas': 1,
 'te': 1,
 'las': 1,
 'todas': 2,
 'completitas': 1,
 'muchaspalomitas': 1,
 '': 1}

In [5]:
k2_dictionary

Counter({'hola': 1,
         'vaque': 3,
         'te': 2,
         'la': 2,
         'comes': 4,
         'toda': 1,
         'completita': 1,
         'enterita': 1})

In [35]:
import numpy as np
STDIN = np.array([1 ,2, 3, 4, 5, 6, 7, 8, 9])

STDOUT = np.reshape(STDIN,(3,3))
print (STDOUT)

STDOUT1 = np.zeros((STDIN[0],STDIN[1],STDIN[2]), dtype=np.int)
STDOUT2 = np.ones((STDIN[0],STDIN[1],STDIN[2]), dtype=np.int)
STDOUT = np.stack((STDOUT1, STDOUT2), axis =0)

[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [ ]:
def count_substring(string, sub_string):
    b=0
    for i in range(len(string)-(len(sub_string)-1)):
        prueb = string[i]
        for j in range (len(sub_string)-1):
            prueb = prueb + string[i+j+1]
        if prueb == sub_string:
            b = b+1
    return b

count_substring ('abcdefcdfgcde','cde')

In [74]:
STDIN=[
4, 3, 2,
1, 2,
1, 2, 
1, 2,
1, 2,
3, 4,
3, 4,
3, 4 ]

N = STDIN[0]
M = STDIN[1]
P = STDIN[2]

del STDIN[:3]

STDOUT1 = STDIN[:N*P]
del STDIN [:N*P]
STDOUT2 = STDIN

STDOUT1 = np.reshape(STDOUT1,(N,P))
STDOUT2 = np.reshape(STDOUT2,(M,P))

STDOUT = np.concatenate((STDOUT1,STDOUT2))
STDOUT

array([[1, 2],
       [1, 2],
       [1, 2],
       [1, 2],
       [3, 4],
       [3, 4],
       [3, 4]])

In [30]:
s = "12:40:22AM"

def timer (s):

    x,y,z = s.split(":")

    z1 = ''.join([i for i in z if i.isdigit()])
    z2 = ''.join([i for i in z if not i.isdigit()])

    if z2 == "PM":
        s1 = str(int(x)+12)
        if s1 == "24":
            s = "12" + ":" + y + ":" + z1
            return s
        else:
            s = s1 + ":" + y + ":" + z1
            return s
    else:
        if x == "12":
            s = "00" + ":" + y + ":" + z1
            return s
        else:
            s = x + ":" + y + ":" + z1
            return s

timer(s)

'00:40:22'